/ page content
.right_col{:role => "main"}
  %div
    .page-title
      .title_left
        %h3
          Svi klijenti

    .clearfix
    .row
      .col-md-12.col-sm-12.col-xs-12
        .x_panel
          .x_title

            %table#datatable.table.table-striped.table-bordered
              %thead
                %tr
                  %th Korisnik
                  / %th Rođen
                  %th Keš
                  %th Refinansiranje
                  %th Stambeni
                  %th Auto
                  %th Evergrin
                  %th Fluo
                  %th Potrošački

              %tbody
                - @users.each do |user|
                  %tr
                    %td= link_to "#{user.name} #{user.surname}", user_path(user)
                    / %td= user.birthdate
                    %td= "#{user.chance.kredit_kes}%"
                    %td= "#{user.chance.kredit_refinansiranje}%"
                    %td= "#{user.chance.kredit_stambeni}%"
                    %td= "#{user.chance.kredit_auto}%"
                    %td= "#{user.chance.kredit_evergrin}%"
                    %td= "#{user.chance.kredit_fluo}%"
                    %td= "#{user.chance.kredit_potrosacki}%"


/ /page content

/ footer content
%footer
  .pull-right
    SG Hackboard
  .clearfix
/ /footer content
