/ /top navigation
/ page content
.right_col{:role => "main"}

  .x_content{style: 'margin-top: 30px;'}
  .row
    .col-md-4.col-sm-4.col-xs-12.profile_left
      / .profile_img
      /   #crop-avatar
      /     / Current avatar
      /     %img.img-responsive.avatar-view{:alt => "Avatar", :src => "https://colorlib.com/polygon/gentelella/images/picture.jpg", :title => "Change the avatar"}/
      %h3= "#{@user.name} #{@user.surname}"
      / %ul.list-unstyled.user_data
      /   %li
      /     %i.fa.fa-map-marker.user-profile-icon
      /     San Francisco, California, USA
      /   %li
      /     %i.fa.fa-briefcase.user-profile-icon
      /     Software Engineer

      %br

      .x_panel
        .x_title
          %h2
            Prethodne kupovine
          .clearfix
        .x_content
          %ul.list-unstyled.timeline
            - @loans.each do |loan|
              %li
                .block
                  .tags
                    .tag
                      %span= loan.purchase_date
                  .block_content
                    %h2.title
                      = loan.loan_type
                    .byline
                      %span.label.label-warning= loan.status

                    %p.excerpt
                      Kamatna stopa:
                      %strong= "#{loan.interest_rate}%"
                      %br

                      Administrativni troškovi:
                      %strong= "#{loan.administrative_cost}%"

                      %br
                      Rok otplate:
                      %strong= loan.repayment


    .col-md-8.col-sm-8.col-xs-12
      %h3 Šanse za kupovinu
      %br
      .row
        = render 'chance', type: 'Kredit', name: 'Stambeni', percent: @chance.kredit_stambeni
        = render 'chance', type: 'Kredit', name: 'Auto', percent: @chance.kredit_auto
        = render 'chance', type: 'Kredit', name: 'Keš', percent: @chance.kredit_kes
        = render 'chance', type: 'Kredit', name: 'Potrošački', percent: @chance.kredit_potrosacki
        = render 'chance', type: 'Kredit', name: 'Fluo', percent: @chance.kredit_fluo
        = render 'chance', type: 'Kredit', name: 'Evergrin', percent: @chance.kredit_evergrin

        / = render 'chance', type: 'Kreditne kartice', name: 'Masterata', percent: 2
        / = render 'chance', type: 'Kreditne kartice', name: 'Visa gold', percent: 30

        / = render 'chance', type: 'Osiguranje', name: 'Životno', percent: 67
        / = render 'chance', type: 'Osiguranje', name: 'Štedno životno', percent: 72
        / = render 'chance', type: 'Osiguranje', name: 'Putno', percent: 50
        / = render 'chance', type: 'Osiguranje', name: 'Imovinsko', percent: 68
        / = render 'chance', type: 'Osiguranje', name: 'Zdravstveno', percent: 91

  #contact.modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog{:role => "document"}
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4#myModalLabel.modal-title Kontaktiraj klijenta
        .modal-body{style: 'font-size: 120%;'}
          %button.btn.btn-lg.btn-success{type: "button"} Pošalji SMS
          %i.fa.fa-android
          = @user.name
          preferira SMS komunikaciju.
          %br
          %button.btn.btn-lg.btn-success{type: "button"} Pošalji email
          %br
          %button.btn.btn-lg.btn-success{type: "button"} Pozovi
