= bootstrap_form_for @indicator do |f|
  - if @indicator.errors.any?
    #error_explanation
      %h2= "#{pluralize(@indicator.errors.count, "error")} prohibited this indicator from being saved:"
      %ul
        - @indicator.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    %label Društvena Akcija
    %select.form-control
      %option Like
      %option Life event
      %option Group join
      %option Event attendance
      %option Travel

  = f.text_field :product, label: "Proizvod"
  = f.text_field :name, label: "Facebook stranica"
  = f.text_field :score, label: "Težina"
  = f.hidden_field :status, value: 'new'
  = f.submit 'Dodaj indikator', class: 'btn btn-success'
